# MySQL Database
DB_USER=wellbot
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=wellbot_db

AWS_REGION=ap-northeast-2
UPSTAGE_API_URL=https://api.upstage.ai/v1/document-ai/document-parse
UPSTAGE_API_KEY=